<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1500px" id="band">
  <%= link_to "Go Back", :back, class: "w3-left w3-button w3-purple w3-round-large w3-border-purple" %>
  <h2>Data Entries</h2>
  <table style="width:100%">
    <tr>
      <th>Entry ID</th>
      <th>Entry Title</th>
      <th>Published Date</th>
      <th>Author</th>
      <th>Feed</th>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <th>Content Available</th>
        <% end %>
      <% end %>
    </tr>
    <% @entries.each do |entry| %>
    <tr>
      <td>
        <%= entry.id %>
      </td>
      <td>
        <%= link_to entry.title, entry %>
      </td>
      <td>
        <%= entry.published.strftime("%Y-%m-%d") %>
      </td>
      <td>
        <%= entry.author %>
      </td>
      <td>
        <%= entry.feed.name %>
      </td>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <td>
            <% if entry.content == nil %>
              False
            <% else %>
              True
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>