<div class="container">
  <p>Title: <%= @entry.title %></p>
  <p>URL: <%= link_to @entry.url %> </p>
  <p>Author: <%= @entry.author %></p>
  <p>Published Date: <%= @entry.published %></p>
</div>

<div id="entry">
  <%= @entry.valid_content.html_safe %>
</div>