<h1>Checkout</h1>

<%= form_for @order, url: checkout_path do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <%= f.submit 'Checkout' %>

<% end %>

<br>

<div>
  <%= link_to "Back to orders", orders_path %>
</div>
