<!--@Ref: https://www.w3schools.com/w3css/w3css_templates.asp
Reference Description: W3 Templates for web pages using W3.CSS Bootstrap -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1000px" id="band">
  <h2>Product Category Links</h2>
  <%= link_to "Add Product to Category", new_product_category_path, class: 'w3-left w3-button w3-blue w3-round-large w3-border-blue w3-margin' %>
  <table style="width:100%">
    <tr>
      <th>Link ID</th>
      <th>Product ID</th>
      <th>Category ID</th>
      <th>Created On</th>
      <th>Last Updated</th>
      <th>View</th>
    </tr>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td>
          <%= product_category.id %>
        </td>
        <td>
          <%= product_category.product_id %>
        </td>
        <td>
          <%= product_category.category_id %>
        </td>
        <td>
          <%= product_category.created_at %>
        </td>
        <td>
          <%= product_category.updated_at %>
        </td>
        <td>
          <%= link_to "View", product_category, class: 'w3-button w3-small w3-purple w3-round-large w3-border-purple' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

