<!--@Ref: https://www.w3schools.com/w3css/w3css_templates.asp
Reference Description: W3 Templates for web pages using W3.CSS Bootstrap -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h2>Log In</h2>

  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <div class="w3-center"><br>
      <i class="fa fa-sign-in" aria-hidden="true" class="w3-circle w3-margin-top"></i>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <form class="w3-container">
          <div class="w3-section">
            <div class="form-group w3-padding">
              <label class="w3-left"><b>Username</b></label>
              <%= f.email_field :email, autofocus: true, placeholder: 'Enter Username', class: 'form-control w3-input w3-border w3-margin-bottom' %>
            </div>

            <div class="form-group w3-padding">
              <label class="w3-left"><b>Password</b></label>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter Password', class: 'form-control w3-input w3-border' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group w3-padding">
                <%= f.check_box :remember_me, class: 'w3-check w3-margin-top', checked: 'checked' %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="form-group w3-padding">
              <%= f.submit "Login", class: "w3-button w3-green w3-block w3-section w3-padding" %>
            </div>

          </div>
        </form>
      <% end %>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>