<p style="color: green"><%= notice %></p>

<h1>Categories (<%= @categories.count %>)</h1>

<%= link_to "New category", new_category_path %>
<%= link_to "Assign product to category", product_categories_path %>

<ol>
  <% @categories.each do |category| %>
  <li>
    <%= link_to category do %>
      <%= category.title %>
      (<%= category.products.count %> product(s))
    <% end %>
  </li>
  <% end %>
</ol>
