<div id="<%= dom_id product %>">

  <%= image_tag "products/#{product.image_filename}", :style => "width:45%"%>

  <hr>
  <p>
    <label><b>Product name:</b></label>
    <%= product.product_name %>
  </p>

  <p>
    <label><b>Product description:</b></label>
    <%= product.product_description %>
  </p>

  <p>
    <label><b>Net price:</b></label>
    <%= product.net_price %>
  </p>
  <hr>

</div>
